<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout::setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-sm">
            <!--부제목-->
            <div class="row">
                <h1>Reservation Form</h1>
            </div>
            <!--메인-->
            <div class="row">
                <!--왼쪽 사진-->
                <div class="col">
                    col
                </div>
                <!--셀렉트-->
                <div class="col">
                    <!--<form action="/reservation/save" method="post" th:object="${reservation}">
                        <input type="hidden" th:field="*{reCode}"/>
                        <div>
                            <label for="name">Name:</label>
                            <input type="text" id="name" th:field="*{name}"/>
                        </div>
                        <div>
                            <label for="date">Date:</label>
                            <input type="datetime-local" id="date" th:field="*{date}"/>
                        </div>
                        <div>
                            <button type="submit">Save</button>
                        </div>
                    </form>-->
                    <a href="/reservation/reservations">Back to list</a>
                </div>
            </div>
        </div>
    </th:block>
</th:block>